<template>
  <div id="app" class="container">
    <div> 
      <h1>Список дел</h1>
      <p>Добавляете и редактируйте списки дел</p>
      <ol style="margin-right: 2.5rem; padding-left: 10px;">
        <li class=" todos-list" v-for="(todo,index) in todos"   v-bind:key="todo.id">
          {{ todo.text }} 
          <button class="btn  change-el" @click="change(todo)" >Изменить</button>
          <button class=" btn btn-danger del-el" v-on:click ="removeElement(index)"> Удалить</button>
        </li>
      </ol>
      <button id="add-task" class="btn" @click="seen=!seen">Добавить дело</button>
    </div>
    <Todochange :todochange = 'changetext' v-if="look"   @ChangeTodo ='ChangeTodo'/>
    <Todobar v-if="seen" @CreateTodo='onTodo'  />
  </div>
</template>

<script>
import Todobar from "./components/Todobar"
import Todochange from "./components/Todochange"
export default {
  name: 'App',
  components: {
    Todobar,
    Todochange
  },

  data(){
    return{
      seen:false,
      todos:[],
      look:false,
      changetext:"",
      newtext:""
    }
  },

  methods:{
    onTodo(data){
      this.todos.push({text:data.todos})
      this.seen = data.shown
    },

    removeElement(index){
        this.todos.splice(index,1)
    },

    change(todo){
      this.look=!this.look;
      this.changetext = todo.text;
        if(todo.text.length != this.newtext.length){
          todo.text = this.newtext
      }
    },

    ChangeTodo(data){
      this.look = data.saw
      this.newtext = data.mess
      
    },
  }
}
</script>

<style lang="scss">
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

  #app{
    margin-top:4.1%;
    margin-left: 3.5vw;
    display: flex;
    height:90vh;
    justify-content: space-between;
  }
  
  h1{
    width: 329px;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #1F2041;
  }

  p{
    width: 329px;
    height: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-bottom: 33px;
  }

  #add-task{
    height: 44px;
    background: #BB6BD9;
    border-radius: 22px;
    border-color: #BB6BD9;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
  
  .todos-list{
    min-width: 500px;
    height: 46px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CACACA;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-top: 10px;;
  }

  .change-el{
    margin-left:30px;
    width: 104.25px;
    align-self: flex-end;
    height: 33px;
    background: #BB6BD9;
    border-radius: 22px;
    border-color: #BB6BD9;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    
  }
  .del-el{
    width: 104.25px;
    height: 33px;
    border-radius: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    margin-left: 14px;
  }
</style>